.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.cart {
    border: blue;
    border-style: solid;
    padding: 10px;
}

.description {
    text-align: left
}

.price {
    text-align: right;
}

.quantity {
    text-align: right;
}

.total {
    text-align: right;
}

.cartItems {
    border-bottom: 1px solid;
}